In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split ## it uses to train and seperate the data
from sklearn.feature_extraction.text import TfidfVectorizer ## extract the feautres from the text
from sklearn.metrics import accuracy_score
from sklearn.svm import LinearSVC

In [3]:
raw_mail_data = pd.read_csv('spam.csv',encoding='latin-1')
raw_mail_data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [5]:
mail_data.shape

(5572, 5)

In [6]:
mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [7]:
## label spam mail as 0; non spam mail as 1
mail_data.loc[mail_data['v1'] == 'spam', 'v1',] = 0
mail_data.loc[mail_data['v1'] == 'ham', 'v1',] = 1

In [8]:
## we sepearte the data as text and label;X is text,Y is label
X = mail_data['v2']
Y = mail_data['v1']

In [9]:
print(X)
print('.........')
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
.........
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [10]:
## split the data into train data and test data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.8, test_size=0.2, random_state=3)

In [11]:
## transform the text data to feature vectors that can be used as input to the SVM Model using Tfidvectorizer
## convert the the text to lower case letters
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)
Y_train = Y_train.astype('int') ## converting Ytrain and y test values as integers
Y_test = Y_test.astype('int')

In [12]:
## now we are training the SVM 
model = LinearSVC()
model.fit(X_train_features, Y_train)

LinearSVC()

In [13]:
## evaluation of model
## predicttion on training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)
print('Accuracy on training data : ', accuracy_on_training_data)

Accuracy on training data :  0.9995512676688355

In [14]:
## prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)
print('Accuracy on test data :', accuracy_on_test_data)

Accuracy on test data : 0.9856502242152466

In [21]:
## predicting the mail is spam or ham
input_mail = ["U dun say so early hor... U c already then say."]
## we should convert the text to feautre vectors
input_mail_features = feature_extraction.transform(input_mail)
##making prediction 
prediction = model.predict(input_mail_features)
print(prediction)

if (prediction[0]==1):
    print('ham MAIL')
else:
    print('spam MAIL')

[1]
ham MAIL